/*=================== VARIABLES ===================*/

/*==== COLORS ====*/
$mainBlack: #191919;;
$mainGrey: #949494;
$mainRed: #eb0029;

/*==== FONT-SIZES ====*/
$headingFont:25px;
$headingSmall:20px;
$advanceFont:16px;
$largeFont:15px;
$normalFont:14px;
$semiFont:13px;
$miniFont:12px;

/*==== MEDIA QUERIES BREAK ====*/
$breakPhone: 320px;
$breakPhoneLandscape: 481px;
$breakTablet: 801px;