/*=================== VARIABLES ===================*/

/*==== COLORS ====*/
$mainBlack: #191919;;
$mainGrey: #949494;
$mainRed: #eb0029;

/*==== FONT-SIZES ====*/
$headingFont:30px;
$headingSmall:20px;
$advanceFont:16px;
$normalFont:14px;
$semiFont:13px;
$miniFont:12px;

/*==== MEDIA QUERIES BREAK ====*/
$breakTablet: 600px;